In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'height': [5.9, 5.8, 5.2, 5.4, 6.1, 5.5, 6, 5.3],
        'weight': [75, 86, 50, 55, 85, 62, 82, 52],
        'gender': [1, 1, 0, 0, 1, 0, '', '']
       }
df = pd.DataFrame(data)
print(df)

   height  weight gender
0     5.9      75      1
1     5.8      86      1
2     5.2      50      0
3     5.4      55      0
4     6.1      85      1
5     5.5      62      0
6     6.0      82
7     5.3      52

In [3]:
training_df = df[:6]
training_df

   height  weight gender
0     5.9      75      1
1     5.8      86      1
2     5.2      50      0
3     5.4      55      0
4     6.1      85      1
5     5.5      62      0

In [4]:
testing_df = df[-2:]
testing_df

   height  weight gender
6     6.0      82
7     5.3      52

In [5]:
def hard_limit_activation_function(f):
    if f > 0:
        return 1
    elif f == 0:
        return 0
    else:
        return -1

In [6]:
normalized_column = training_df[['height', 'weight']]
normalized_column

   height  weight
0     5.9      75
1     5.8      86
2     5.2      50
3     5.4      55
4     6.1      85
5     5.5      62

In [7]:
def normalization(normalized_column):
    normalized_df=(normalized_column-normalized_column.min())/(normalized_column.max()-normalized_column.min())
    return(normalized_df)

In [8]:
normalize_df = normalization(normalized_column)
normalize_df

     height    weight
0  0.777778  0.694444
1  0.666667  1.000000
2  0.000000  0.000000
3  0.222222  0.138889
4  1.000000  0.972222
5  0.333333  0.333333

In [9]:
normalize_df = normalize_df.assign(gender=training_df['gender'])

In [10]:
w = np.zeros(2).reshape(1,2)
alpha = 1
b = 0
for epoch in range(12):
    err = []
    for i, row in normalize_df.iterrows():
        t = row.gender
        x = np.array([row.height, row.weight]).reshape(1,2)
        y = np.dot(x , w.T) + b
        
        
        # for experiment 
        err.append((y-t)**2)
        wn = w + alpha*(t - y)* x
        bn = b + alpha*(t-y)
        
        w = wn 
        b = bn 
    print(0.5 *sum(err))

[[4.86167031]]
[[3.59934162]]
[[1.67366856]]
[[0.81646384]]
[[0.44173706]]
[[0.2818506]]
[[0.21605715]]
[[0.19058171]]
[[0.18183626]]
[[0.17967671]]
[[0.17986352]]
[[0.18070436]]

In [11]:
for i, row in testing_df.iterrows():
    
    x = np.array([row.height, row.weight]).reshape(1,2)
    y = np.dot(x , w.T) + b
    print(y)
    
    op =  hard_limit_activation_function(y)
    print(op)
    if op >0:
        print("male")
    else:
        print("female")

[[-27.26992632]]
-1
female
[[-14.74991433]]
-1
female